html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #666;
  background-blend-mode: hard-light;
  font-size: 10pt;
}

#content {
  width: 80%;
  background-color: blue;
  margin: 0 auto;
  min-height: 500px;
}

footer {
  height: 100px;
  width: 100%;
  margin-top: 20px;
  background-color: red;
}
