html, body {
  margin: 0px;
  padding: 0px;
  height:100%;
}

body {
  background-color: #666;
  background-blend-mode: hard-light;
  font-size: 10pt;
}

#wrapper {
  min-height:100%;
  position:relative;
}

.navbar {
    border-radius: 0px !important;
}

#content {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding:0 50px;
}

.full {
  width:100%;
}

.twenty {
  width:20%;
  float:left;
}

.twentyfive {
  width:25%;
  float:left;
}

.user_panel {
  float:right;
  padding:4px 0;
}

.user_panel a {
  display:block;
  color: #777;
  padding: 15px 20px;
  border:1px solid #cfd7e1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.user_panel.open > a {
  border-color: #cacaca !important;
}

.user_panel a:hover, .user_panel a:active {
  color:#333;
  text-decoration:none;
}

.user_panel .dropdown-menu {
  padding:0;
  min-width:110px;
  width:110px;
}


.user_panel .dropdown-menu > li > a {
  padding:5px;
}

.user_panel .dropdown-menu a {
  border:none;
}

.fifty {
  width:50%;
  float:left;
}

.form-control.fifty {
  width:50% !important;
}

.seventy {
  width:70%;
  float:right;
}

.seventyfive {
  width:70%;
  float:left;
  margin-left:5%;
}

.hundred {
  width:100%;
}

.filter .btn-group,
.filter .btn-group .selection,
.filter .btn-group .filters,
.filter .btn-group .filters button{
  width:100%;
}

.filter .btn-group .filters {
  padding:0;
}

.products_container {
  max-width:100%;
}

.prod_container:hover .product {
  border-color:#c1c9d1;
}

.prod_container:hover .product h3 {

}

.product {
  width:20%;
  margin-right:5%;
  float:left;
  text-align:center;
  margin-bottom:20px;
  border:1px solid #cfd7e1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position:relative;
}

.prod_container h3 {
  color:#708090;
  margin-top:10px;
}

.prod_container p {
  color:#000000;
}

.product p {
  margin:0;
  word-wrap:break-word;
}

.product p.description {
  padding-bottom:20px;
}

.product p.price {
  position:absolute;
  right:5px;
  top:5px;
  padding:2px;
  font-size:12px;
  background:#FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.product img {
  width:100%;
}

footer {
  height: 60px;
  width: 100%;
  margin-top: 20px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7 !important;
  margin-bottom: 0px !important;
}

footer  p {
  text-align: center;
  margin-top: 25px;
}

/* Trashy helpers */
.mt20 {
  margin-top:20px;
}

.alert-success, .alert-info, .alert-warning, .alert-danger {
  display: none;
}

.text-centered {
  text-align:center;
}
