<html>
<body id="main-elem">
  <div id="wrapper">
    <div id="content">
      <div class="full">
      <!-- Filter -->
        <div class="twentyfive filter">
          <h2>Filters</h2>
          <h3>Filter by type</h3>
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle selection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Currently sorted by: {{sortValues[sortOption]}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu filters hundred">
                <button type="button" class="btn btn-default" @click="sortOption='p_price'">Price</button>
                <button type="button" class="btn btn-default" @click="sortOption='product_id'">Id</button>
              </ul>
          </div>
          <div class="full">
            <button type="button" class="btn btn-default fifty" onclick="product.sort('desc')">Descending</button>
            <button type="button" class="btn btn-default fifty" onclick="product.sort()">Ascending</button>
            <div style="clear:both;"></div>
          </div>

          <div class="price_holder">
            <h3>Price</h3>
              <div class="form-group">
                <input type="text" class="form-control fifty" placeholder="min.">
                <input type="text" class="form-control fifty" placeholder="max.">
                <div style="clear:both;"></div>
              </div>
          </div>

          <div class="search_holder">
            <h3>Search</h3>
            <input type="text" name="search_field" class="form-control" placeholder="Search for something.."/>
          </div>
        </div>

        <!-- Filter -->
        <!-- Products -->
        
          <template id="product-template">
            <a href="#" class="prod_container">
                <div class="product">
                    <img src="http://placehold.it/350x150" alt="Afbeelding"/>
                    <h3>{{name}}</h3>
                    <p class="description"><i>{{description}}</i></p>
                    <p class="price">&euro;  {{price}},-</p>
                </div>
                <div v-if="(index + 1) % 4 == 0" style="clear:both;">
                </div>
          </a>
          </template>
          <div class="seventyfive">
            <h2>Products</h2>
            <div class="products_container">
              <product-list v-for="(key, val) in values" :id="val.product_id" :name="val.p_name" :description="val.p_description" :price="val.p_price" :index="key"></product-list>
            </div>
        </div>
        <div style="clear:both;"></div>
      </div>
   </div>
</div>
</body>
</html>
<script src="../includes/master/master.js"></script>
<script>
$(document).ready(function() {
      document.title += 'products';
});

var local = 'http://localhost:8080/products';
var live  = 'http://95.85.32.165:8080/users';

Vue.component('product-list',
{
  props: ['id', 'name', 'description', 'price', 'index'],
  template: '#product-template'
});

var product = new Vue({
  el: '#main-elem',
  data : {
    values : [],
    sortOption : "product_id",
    sortValues : { product_id : "Id", p_price : "Price", p_name : "Name" }
  },
  methods: {
    fetchData: function () {
      var xhr = new XMLHttpRequest()
      var self = this
      xhr.open('GET', local)
      xhr.onload = function () {
        self.values = JSON.parse(xhr.responseText)
      }
      xhr.send()
    },

    sort: function(sort)
    {
      var self = this;
      this.values = this.values.sort(function(a, b)
      {
        if(sort === 'desc')
        {
          console.log(self.sortOption);
          return b[self.sortOption] - a[self.sortOption];
        }
        else
        {
          return a[self.sortOption] - b[self.sortOption];
        }
      });
    }
  }
})

product.fetchData();
</script>
