<html>
<head></head>
<body id="main-elem">
  <div id="wrapper">
    <div id="content">
      <div class="full">
      <!-- Filter -->
        <div class="twenty filter">
          <h2>Filters</h2>
          <h3>Filter by type</h3>
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle selection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Currently sorted by: {{sortValues[sortOption]}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu filters hundred">
                <button type="button" class="btn btn-default" @click="sortOption='p_price'">Price</button>
                <button type="button" class="btn btn-default" @click="sortOption='product_id'">Id</button>
              </ul>
          </div>
          <div class="full">
            <button type="button" class="btn btn-default fifty" onclick="product.sort('desc')">Descending</button>
            <button type="button" class="btn btn-default fifty" onclick="product.sort()">Ascending</button>
            <div style="clear:both;"></div>
          </div>

          <div class="price_holder">
            <h3>Price</h3>
              <div class="form-group">
                <input type="text" id= "minPrice" class="form-control fifty" placeholder="{{minFilterPrice}}" v-on:keydown=" filterPrice()">
                <input type="text" id= "maxPrice" class="form-control fifty" placeholder="{{maxFilterPrice}}" v-on:keydown=" filterPrice()">
                <div style="clear:both;"></div>
              </div>
          </div>

          <div class="search_holder">
            <h3>Search</h3>
            <input type="text" name="search_field" class="form-control" placeholder="Search for something.." onkeydown="product.filter(this.value)"/>
          </div>
        </div>

        <!-- Filter -->
        <!-- Products -->

          <template id="product-template">
            <a href="/products/product.html?id={{id}}" class="prod_container">
                <div class="product">
                    <img src="{{image}}" alt="Afbeelding"/>
                    <h3>{{name}}</h3>
                    <p class="price">&euro;  {{price}},-</p>
                </div>
                <div v-if="(index + 1) % 4 == 0" style="clear:both;">
                </div>
          </a>
          </template>
          <div class="seventy">
            <h2>Products</h2>
            <div class="products_container">
              <product-list v-for="(key, val) in modifiedValues" :id="val.product_id" :name="val.p_name" :description="val.p_description" :price="val.p_price" :image="val.p_image" :index="key"></product-list>
            </div>
        </div>
        <div style="clear:both;"></div>
      </div>
   </div>
</div>
</body>
</html>
<script src="../includes/master/master.js"></script>
<script>
$(document).ready(function() {
      document.title += 'products';
});

Vue.component('product-list',
{
  props: ['id', 'name', 'description', 'price', 'image', 'index'],
  template: '#product-template'
});

var product = new Vue({
  el: '#main-elem',
  data : {
    values : [],
    sortOption : "product_id",
    minFilterPrice : 0,
    maxFilterPrice : 0,
    sortValues : { product_id : "Id", p_price : "Price", p_name : "Name" },
    modifiedValues : []
  },
  methods: {
    fetchData: function () {
      var xhr = new XMLHttpRequest()
      var self = this
      xhr.open('GET', local+'/products')
      xhr.onload = function () {
        self.values = JSON.parse(xhr.responseText)
        self.modifiedValues = self.values;
        self.maxFilterPrice = Math.max.apply(Math,self.values.map(function(o){return o.p_price;}))
      }
      xhr.send()
    },

    sort: function(sort)
    {
      var self = this;
      this.modifiedValues = this.modifiedValues.sort(function(a, b)
      {
        if(sort === 'desc')
        {
          return b[self.sortOption] - a[self.sortOption];
        }
        else
        {
          return a[self.sortOption] - b[self.sortOption];
        }
      });
    },

    filter: function(search)
    {
      var self = this;
      if (event.keyCode == 13)
      {
        this.modifiedValues = this.values.filter(function(value)
        {
          if(value.p_name.toLowerCase().indexOf(search.toLowerCase()) >= 0)
          {
            return true;
          }
          else
          {
            return false;
          }
        })
      }
    },

    filterPrice: function()
    {
      var self = this;
      if (event.keyCode == 13)
      {
        self.minFilterPrice = parseInt(document.getElementById('minPrice').value);
        self.maxFilterPrice = parseInt(document.getElementById('maxPrice').value);

        this.modifiedValues = this.values.filter(function(value)
        {
          if(value.p_price >= self.minFilterPrice && value.p_price <= self.maxFilterPrice)
          {
            return true;
          }
          else
          {
            return false;
          }
        })
      }
    }
  }
})

product.fetchData();
</script>
